# Java
*.class
*.log
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Local env / deploy
.env
.deploy/

# IDE
.idea/
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
